<h1> TinyAPP </h1>



 <% if(user){ %>
  <form action="/logout" method="POST" style="padding-bottom:30px;">
    <p>Welcome, <%= user.email %></p>
    <button style="margin-bottom:30px;">Logout</button>
  </form>
<% } else{ %>

  <p><a href="/register/">Register</a></p>
  <p><a href="/login/">Login</a></p>
<% } %>