<h1> TinyAPP </h1>

<p><a href="/register/">Register</a></p>
<p><a href="/login/">Login</a></p>

<!-- <% if(user){ %>
  <form action="/logout" method="POST" style="padding-bottom:30px;">
    <p>Welcome, <%= user.email %></p>
    <button style="margin-bottom:30px;">Logout</button>
  </form>
<% } else{ %>
    <form action="/login" method="POST" style="padding-bottom:30px;">
      <input type="text" name="username" placeholder=Username style="width:200px;">
      <button>Submit</button>
    </form>
<% } %>  -->