<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <h1> TinyAPP Login </h1>
  <form action="/login" method="POST">
    <label for="email" style="margin-right:23px;">Enter Email:</label>
    <input id="email" type="email" name="email" placeholder="Email" style="width: 200px">
  </br>
    <label for="email">Enter Password:</label>
    <input id="password" type="password" name="password" placeholder="Password" style="width: 200px">
    <input type="submit" value="Login">
  </form>
  <p><a href="/urls/">To Home</a><p>
</body>
</html>