<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <header> <% include ./partials/_header.ejs %> </header>
  <table>
    <tr>
      <th>Shortened</th>
      <th>Full URL</th>
    </tr>
    <tbody>
     <% for(let shortURL in userURLs) { %>
      <tr>
        <td><%= shortURL %></td>
        <td><%= userURLs[shortURL] %></td>
        <td>
          <form method="GET" action="/urls/<%= shortURL %>">
            <button>Edit</button>
          </form>
        </td>
        <td>
          <form method="POST" action="/urls/<%= shortURL %>/delete">
            <button>Delete</button>
          </form>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <p><a href="/urls/new">Shorten URL</a><p>
</body>
</html>
